node_modules
*package.json
*package-lock.json
*npm-debug.log
tmp
*.pages
*.docx
*.swp
seminar
dom/samples
dom/output
dom-compare
mahimahi
replay_data
page_comparator
poster/capstone_completion.pdf
poster/signed_capstone_completion.pdf
